# backend/.env.example

# Server
PORT=3000

# Frontend
# URL of the deployed frontend application, e.g., https://your-frontend-url.com
FRONTEND_URL=your_frontend_url_here

# Database
# PostgreSQL connection string format: 
# postgresql://username:password@host:port/database
# can be obtained free from Neon
DATABASE_URL=your_database_url_here

# JWT
# JWT_SECRET should be a long, random string for security
# you can generate one using a tool like openssl or an online generator.
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN="7d"