# backend/.env.example

# Server
PORT=3000

# Frontend
FRONTEND_URL=http://localhost:5173

# Database
# PostgreSQL connection string format: 
# postgresql://username:password@host:port/database
DATABASE_URL=your_database_url_here

# JWT
# JWT_SECRET should be a long, random string for security
# you can generate one using a tool like openssl or an online generator.
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN="7d"