/* theme.css */

:root {
  --black: #05060a;
  --darkest-grey: #0b0f14;
  --dark-grey: #121a22;

  --light-grey: #9aa4b2;
  --white: #e6f1ff;

  /* cyberpunk accents */
  --light-blue: #00e5ff;
  --dark-blue: #0a2a33;

  --orange: #ff2e88; /* actually pink */
  --dark-pink: #a81656;
}