/* frontend/src/css/profile.css */

/* user profile */
.user-profile {
  display: flex;
  flex-direction: column;
  width: min(800px, 90%);
  border: 1px solid rgba(0, 229, 255, 0.25);
  border-radius: 4px;
  align-self: center;

  background-color: var(--dark-grey);
}

.profile-displayname {
  font-weight: bold;
  font-size: 25px;
  color: var(--light-blue);
  text-shadow: 0 0 6px rgba(0, 229, 255, 0.2);
}

.profile-username {
  font-style: italic;
  color: var(--light-grey);
}

.user-seen {
  display: flex;
  align-items: center; /* important */
  gap: 6px; /* controlled spacing instead of break */
}

.profile-username,
.profile-seen {
  font-size: 14px;
  margin: 0; /* prevents row break issues */
}

.profile-username {
  font-style: italic;
  color: var(--light-blue);
}