/* frontend/src/index.css */

* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h2 {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* shared panel styles */
.left-panel, .main-panel, .right-panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.left-panel, .right-panel {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.message-display, .channel-display, .users-display {
  height: 85vh;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
}

.channel, .user, .message-header {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.button-panel, .active-user-display, .textbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 80px;
  border-top: 2px solid red;
}

/* panel styles */
.panel-container {
  border: 2px solid black;
  display: flex;
  height: 100vh;
}

.left-panel {
  border: 2px solid green;
}

.main-panel {
  border: 2px solid pink;
  width: 70%;
}

.channel-header {
  display: flex;
  flex-direction: column;
}

.channel-info {
  display: flex;
}

.message-header {
  padding-top: 3px;
  border: 1px solid black;
}

/* shared message styles */
.message-header {
  display: flex;
  gap: 8px;
}

.author-message, .user-message {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.author-message-content, .user-message-content {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* message styles */
.author-message {
  margin-left: auto;
}

.user-message {
  margin-right: auto;
}

.message-details {
  font-size: 12px;
}

.message-image {
  max-width: 400px;
  max-height: 400px;
  border-radius: 4px;;
}

.edited-message {
  font-style: italic;
  font-size: 10px;
}

.author-edit {
  margin-left: auto;
}

.user-edit {
  margin-right: auto;
}

.right-panel {
  border: 2px solid blue;
}

/* shared header styles */
.header {
  height: 80px;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 2px solid red;
}

/* user and channel icon styles */
.icon, .lg-icon {
  border-radius: 50%;
  object-fit: cover;
}

.icon {
  width: 30px;
  height: 30px;
}

.lg-icon {
  width: 50px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* fontawesome icon styles */
.ui-icon {
  cursor: pointer;
  transition-duration: 0.4s;
}

.exit-icon:hover, .delete-icon:hover, .delete-channel-icon:hover {
  color: red !important;
}

.message-icon:hover, .save-icon:hover, .add-icon:hover, .send-icon:hover {
  color: green !important;
}

.details-icon:hover {
  color: gray !important;
}

.edit-icon:hover {
  color: blue !important;
}

.leave-icon:hover {
  color: orange !important;
}

.edit-hover, .delete-icon {
  opacity: 0;
  transition: opacity 0.4s, color 0.4s;
}

.save-icon, .send-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.author-message:hover .edit-hover,
.author-message:hover .delete-icon {
  opacity: 1;
}

/* button styles */
.button {
  cursor: pointer;
}

/* shared whitespace styles */
.errors, .message, .user-profile, .channel-details {
  white-space: pre-wrap;
}

/* online/offline status */
div .colored-circle {
  display: inline-block;
  margin-left: -8px;
  margin-right: 5px;
  margin-bottom: -1px;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
  height: 7px;
  width: 7px;
}

/* limit displayed characters of channel description */
.channel-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px; /* adjust to fit layout */
}