/* frontend/src/index.css */

* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
}

/* shared icon styles */
.icon {
  width: 25px;
}

.lg-icon {
  width: 50px;
}

/* fontawesome icon styles */
.exit-icon, .message-icon, .details-icon, .edit-icon, .leave-icon {
  cursor: pointer;
}

.exit-icon:hover, .message-icon:hover, .details-icon:hover, .edit-icon:hover, .leave-icon:hover {
  transition-duration: 0.4s;
}

.exit-icon:hover {
  color: red !important;
}

.message-icon:hover {
  color: green !important;
}

.details-icon:hover {
  color: gray !important;
}

.edit-icon:hover {
  color: blue !important;
}

.leave-icon:hover {
  color: orange !important;
}

/* online/offline status */
div .colored-circle {
  display: inline-block;
  margin-left: -8px;
  margin-right: 5px;
  margin-bottom: -1px;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
  height: 7px;
  width: 7px;
}